<link rel="stylesheet" href="/css/delete.css" />
<link rel="stylesheet" href="/css/style.css" />

<div class="container">
<div class="back" style="margin-bottom: 20px ;">
   <button type="submit"><a href="/v1/management">Trở lại</a></button> 
</div>
<div class="button">
    <form method="POST">
        Bạn muốn xóa sản phẩm này không?
        <button type="submit">Xóa</button>
    </form>
</div>
</div>