<link rel="stylesheet" href="/css/delete.css" />
<link rel="stylesheet" href="/css/style.css" />

<div class="container">
<div class="button">
    <form method="POST">
        Bạn muốn xóa sản phẩm này không?
        <div class="button_delete"><button type="submit"><a href="/v1/management">Trở lại</a></button> 
            <div class="back" >
                <button type="submit">Xóa</button>
             </div>
        </div>
    </form>
</div>
</div>