<link rel="stylesheet" href="/css/login.css">
<link
  href="/fontawesome-free-6.2.0-web/css/all.css"
  rel="stylesheet"
  type="text/css"
/>

<link rel="stylesheet" href="/css/style.css">

<body>
    <h2 class="login-header">PetStar</h2>
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Dang nhap</span>
                <form action="#">
                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" required>
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="Enter your password" required>
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox"  id="LogCheck">
                            <label for="LogCheck" class="text">Remember me</label>
                        </div>
                        <a href="#" class="text">Forgot password?</a>
                    </div>
                    <div class="input-field button">
                        <input type="submit" value="Login Now">

                    </div>
                </form>
                <div class="circle">
                    Or
                </div>
                <div class="button-login">
                    <button class="signup-facebook">
                        <i class="bi bi-facebook"></i>
                        <span class="signup-facebook-text">Facebook</span>
                    </button>
                    <button class="signup-google">
                        <i class="bi bi-google"></i>
                        <span class="signup-google-text">Google</span>
                    </button>
                </div>
                
                <div class="login-signup">
                    <span class="text">Ban co tai khoan chua?
                        <a href="/v1/register" class="text-signup-text">Dang ky moi</a>

                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
