.dashboard {
  background-color: #54ef5482;
  width: 300px;
  height: 100%;
}

.dashboard-center {
  text-align: center;
}

.dashboard-heading {
  color: white;
  padding: 8px 4px;
  box-shadow: 0 4px 5px 0px #363434fa;
  font-size: 16px;
  background-color: #34b734;
  margin-top: 2px;
}

.dashboard-link__child {
  display: flex;
  align-items: center;
  margin: 10px;
  text-decoration: none;
}

.dashboard-link__child:hover {
  color: red;
  transition: 0.1s ease-in-out;
}
