<link rel="stylesheet" href="/css/dashboard.css" />
<link rel="stylesheet" href="/css/style.css" />
<div class="dashboard">
  <h2 class="dashboard-heading dashboard-center">Dashboard</h2>
  <h4 class="dashboard-heading">Quản lí danh mục sản phẩm</h4>
  <div class="dashboard-link">
    <a href="/" class="dashboard-link__child">
      <i class="fa-solid fa-paw"></i>
      <p>Thêm danh mục sản phẩm</p>
    </a>
    <a href="/" class="dashboard-link__child">
      <i class="fa-solid fa-paw"></i>
      <p>Danh sách danh mục sản phẩm</p>
    </a>
  </div>
  <h4 class="dashboard-heading">Quản lí sản phẩm</h4>
  <h4 class="dashboard-heading">Quản lí đơn đặt hàng</h4>
</div>
