<link rel="stylesheet" href="/css/dashboard.css">
<div class="dashboard">
  <h2 class="dashboard-heading dashboard-center">Dashboard</h2>

      <!-- quản lý danh mục sản phẩm -->
  <h4 class="dashboard-heading">Quản lí danh mục sản phẩm</h4>
  <div class="dashboard-link">
    <a href="/" class="dashboard-link__child">
      <i class="fa-solid fa-paw"></i>
      <p>Thêm danh mục sản phẩm</p>
    </a>
    <a href="/" class="dashboard-link__child">
      <i class="fa-solid fa-paw"></i>
      <p>Danh sách danh mục sản phẩm</p>
    </a>
  </div>
      <!-- quản lý danh mục sản phẩm -->


      <!-- quản lý sản phẩm -->
  <h4 class="dashboard-heading">Quản lí sản phẩm</h4>
  <div class="dashboard-link">
    <a href="/v1/management/addproduct" class="dashboard-link__child">
      <i class="fa-solid fa-paw"></i>
      <p>Thêm sản phẩm</p>
    </a>
    <a href="/v1/management" class="dashboard-link__child">
      <i class="fa-solid fa-paw"></i>
      <p>Danh sách sản phẩm</p>
    </a>
  </div>
      <!-- quản lý sản phẩm -->

   <!-- quản lý người dùng -->
   <h4 class="dashboard-heading">Quản lí người dùng</h4>
   <div class="dashboard-link">
     <a href="/" class="dashboard-link__child">
       <i class="fa-solid fa-paw"></i>
       <p>Thêm, sửa, xóa người dùng</p>
     </a>
     <a href="/v1/management/users" class="dashboard-link__child">
       <i class="fa-solid fa-paw"></i>
       <p>Danh sách người dùng</p>
     </a>
   </div>
       <!-- quản lý người dùng -->
 

      <!-- quản lý tin tức -->
  <h4 class="dashboard-heading">Quản lí tin tức</h4>
  <div class="dashboard-link">
    <a href="/" class="dashboard-link__child">
      <i class="fa-solid fa-paw"></i>
      <p>viết bài mới</p>
    </a>
    <a href="/" class="dashboard-link__child">
      <i class="fa-solid fa-paw"></i>
      <p>Danh sách bài đăng</p>
    </a>
  </div>
      <!-- quản lý tin tức -->

      <!-- quản lý đơn hàng -->
  <h4 class="dashboard-heading">Quản lí đơn hàng</h4>
  <div class="dashboard-link">
    <a href="/v1/invoice" class="dashboard-link__child">
      <i class="fa-solid fa-paw"></i>
      <p>Danh sách đơn hàng</p>
    </a>
  </div>
      <!-- quản lý đơn hàng -->
  <div class="turn-admin">
    <h3>Quay lại <a href="/v1/management">Trang chủ</a></h3>
  </div>    
</div>
