<link
  href="/fontawesome-free-6.2.0-web/css/all.css"
  rel="stylesheet"
  type="text/css"
/>
<link rel="stylesheet" href="/css/heading.css" />
<link rel="stylesheet" href="/css/style.css" />

<div class="img">
  <img src="/image/images.png" alt="Ảnh chó" />
</div>
<header class="header">
  <div class="heading">
    <div class="heading-left">
      <i class="fa-solid fa-house heading-icon"></i>
      <h3 class="heading-text">Trang chủ Admin</h3>
    </div>
    <div class="heading-center">
      <i class="fa-solid fa-clock heading-icon"></i>
      <h3 class="heading-text">Friday, 2/10/2022 - 20:00</h3>
    </div>
    <div class="heading-search">
      <input type="text" class="search" placeholder="Nhập từ khóa tìm kiếm" />
      <i
        class="fa-solid fa-magnifying-glass heading-icon heading-icon__search"
      ></i>
    </div>
    <div class="heading-right">
      <h3 class="heading-text">Xin chào <%- name %></h3>
      <i class="fa-solid fa-user heading-icon"></i>
    </div>
  </div>
  <div class="sub-heading">
    <h2><%- header %></h2>
  </div>
</header>
